:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan-1: hsl(186, 14%, 43%);
    --dark-grayish-cyan-2: hsl(184, 14%, 56%);
    --light-grayish-cyan-1: hsl(185, 41%, 84%);
    --light-grayish-cyan-2: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    font-family: 'Space mono';
}

main {
    background-color: var(--light-grayish-cyan-1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 940px !important;
}

p {
    font-size: 1rem;
    line-height: 1rem;
    color: hsl(183, 100%, 15%);
    /* font-weight: ; */
}

.splitter-container p {
    font-weight: 700;
    font-size: 1.275rem;
    line-height: 30px;
    margin-bottom: 70px;
}


/* white frame */

.calculator-frame {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

.input-area-text {
    font-weight: 700;
    color: hsl(184, 14%, 56%);
}

.input-container {
    padding-left: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.input-area.buttons {
    margin-top: 50px;
}

.form-input {
    border: 0px !important;
    text-align: end;
    font-size: 1.5rem;
    outline: none;
    color: var(--very-dark-cyan);
    font-weight: 700;
    background-color: var(--light-grayish-cyan-2);
    border-radius: 30px;
}


/* buttons */

.input-btn {
    padding: 2px 0px;
    border-radius: 4px;
    background-color: var(--very-dark-cyan);
    color: #fff;
    font-weight: 700;
    border: 0px;
    font-size: 24px;
    margin-top: 10px;
    width: 106px;
}

.input-btn:hover {
    background-color: var(--strong-cyan);
}

.input-btn.custom {
    color: var(--dark-grayish-cyan-2);
    background-color: #fff;
}


/* /buttons */


/* persons qty */

.person-qty-container {
    margin-top: 30px;
}


/* / persons qty */


/* frme-lateral */

.lateral-frame {
    background-color: var(--very-dark-cyan);
    padding: 40px;
    border-radius: 20px;
    height: 100%;
}

.lateral-frame-text-title {
    font-weight: 700;
}

.lateral-frame-text-title.text-lowercase {
    color: var(--dark-grayish-cyan-2);
    font-size: 1rem;
}

.tip-amount-result,
.total-result {
    color: var(--strong-cyan);
    font-size: 40px;
    font-weight: 700;
}

.results-container.second {
    margin-top: 30px;
}

.reset-btn {
    background-color: var(--strong-cyan);
    border: 0px;
    color: var(--very-dark-cyan);
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}